<a href="https://colab.research.google.com/github/shubhamgogri/Python--DS/blob/main/MultiColinearity/MultiColinearity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MultiCollinearity :

It is an issue that take place when there are two features that are corelated on each other for about more than 90%.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
df_ad = pd.read_html('https://github.com/krishnaik06/Multicollinearity/blob/master/data/Advertising.csv', index_col = 1)[0]

In [11]:
df_ad.head()

   Unnamed: 0     TV  radio  newspaper  sales
1         NaN  230.1   37.8       69.2   22.1
2         NaN   44.5   39.3       45.1   10.4
3         NaN   17.2   45.9       69.3    9.3
4         NaN  151.5   41.3       58.5   18.5
5         NaN  180.8   10.8       58.4   12.9

In [12]:
df_ad.drop(['Unnamed: 0'], axis=1, inplace = True )

Expenditure in each Department

In [13]:
df_ad.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [14]:
df_sal = pd.read_html('https://github.com/krishnaik06/Multicollinearity/blob/master/data/Salary_Data.csv')[0]

In [16]:
df_sal.drop(['Unnamed: 0'], inplace = True, axis = 1)

Salary acc to Age

In [17]:
df_sal.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [18]:
X = df_ad[['TV', 'radio','newspaper']]
y = df_ad['sales']

Ordinary Least square

y = B0 + B1(TV) + B2 (Radio) + B3 (Newspaper)

Here B0 does not exist and we need to create that column

In [19]:
import statsmodels.api as sm
X = sm.add_constant(X)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [20]:
X

     const     TV  radio  newspaper
1      1.0  230.1   37.8       69.2
2      1.0   44.5   39.3       45.1
3      1.0   17.2   45.9       69.3
4      1.0  151.5   41.3       58.5
5      1.0  180.8   10.8       58.4
..     ...    ...    ...        ...
196    1.0   38.2    3.7       13.8
197    1.0   94.2    4.9        8.1
198    1.0  177.0    9.3        6.4
199    1.0  283.6   42.0       66.2
200    1.0  232.1    8.6        8.7

[200 rows x 4 columns]

In [21]:
# fit a OlS model with intercept on TV and Radio
model = sm.OLS(y,X).fit()

In [22]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Sat, 23 Jul 2022   Prob (F-statistic):           1.58e-96
Time:                        08:08:29   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
TV             0.0458      0.001     32.809      0.000       0.043       0.049
radio          0.1885      0.009     21.893      0.000       0.172       0.206
newspaper     -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Coef values are Beta ones

NO Collinerity in features of the model

observe the Std error if the value is high then an issue is observed
else it is fine

Second way to identify 
Corelation

In [25]:
X.iloc[:, 1:].corr()

                 TV     radio  newspaper
TV         1.000000  0.054809   0.056648
radio      0.054809  1.000000   0.354104
newspaper  0.056648  0.354104   1.000000

# Salary dataset with Correaltion

In [26]:
df_sal.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [29]:
df_sal.corr()

                 YearsExperience       Age    Salary
YearsExperience         1.000000  0.987258  0.978242
Age                     0.987258  1.000000  0.974530
Salary                  0.978242  0.974530  1.000000

In [30]:
X = df_sal[['YearsExperience', 'Age']]
y = df_sal['Salary']

In [31]:
X.corr()

                 YearsExperience       Age
YearsExperience         1.000000  0.987258
Age                     0.987258  1.000000

Here, Age and Years of exp the corr is high

Add const i.e. B0

In [32]:
X = sm.add_constant(X)
model = sm.OLS(y ,X).fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [33]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.960
Model:                            OLS   Adj. R-squared:                  0.957
Method:                 Least Squares   F-statistic:                     323.9
Date:                Sat, 23 Jul 2022   Prob (F-statistic):           1.35e-19
Time:                        08:25:18   Log-Likelihood:                -300.35
No. Observations:                  30   AIC:                             606.7
Df Residuals:                      27   BIC:                             610.9
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -6661.9872   2.28e+04     -0.292      0.773   -5.35e+04    4.02e+04
YearsExperience  6153.3533   2337.092      2.633      0.014    1358.037    1.09e+04
Age              1836.0136   1285.034      1.429      0.165    -800.659    4472.686
==============================================================================
Omnibus:                        2.695   Durbin-Watson:                   1.711
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                1.975
Skew:                           0.456   Prob(JB):                        0.372
Kurtosis:                       2.135   Cond. No.                         626.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Std error is very high

P value should be less than 0.05
which is not in the case of Age

Solution to the issue is 
1. Dont do anthing
2. check the P -value 
    
    higher the P-value drop that feature

In [ ]:
# Drop age